@use "../abstracts" as a;

.btn {
  background: var(--accent__bright-blue);
  padding: 0.8rem 1rem;
  color: var(--neut__light-grayish-blue);
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--ff__open-sans);
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: hsla(224, 93%, 58%, 0.7);
  }
}

.hero--btn {
  box-shadow: 3px 3px 10px hsla(238, 22%, 44%, 0.4);

  @include a.desktop {
    width: 35%;
  }
}

.banner--btn {
  padding: 0.8rem 1rem;

  @include a.desktop {
    width: 40%;
    padding: 1rem 1rem;
  }
}
