:root {
  /***** colors *****/
  --pri__vdk-blue: hsl(243, 87%, 12%);
  --pri__desaturated-blue: hsl(238, 22%, 44%);

  --accent__bright-blue: hsl(224, 93%, 58%);
  --accent__moderate-cyan: hsl(170, 45%, 43%);

  --neut__light-grayish-blue: hsl(240, 75%, 98%);
  --neut__light-gray: hsl(0, 0%, 75%);

  /***** fonts *****/
  --ff__open-sans: "Open Sans", sans-serif;
  --ff__raleway: "Raleway", sans-serif;
}
